go get -u github.com/gin-gonic/gin
go get -u github.com/jinzhu/gorm

# swagger api docs
go get -u github.com/alecthomas/template
go get -u github.com/swaggo/swag/cmd/swag {
    # 依赖，下载后放到路径gopath/src/golang.org/x/
    go get -u github.com/golang/text
}
go get -u github.com/swaggo/gin-swagger {
    # 依赖，下载后放到路径gopath/src/golang.org/x/
    go get -u golang.org/x/net
}
# go get -u github.com/swaggo/files

# template engine
go get -u github.com/flosch/pongo2
go get github.com/dgrijalva/jwt-go

# 配置文件管理
go get -u github.com/spf13/viper
